.text {
    font-family: "Valera Round", sans-serif;
    font-size: 27px;
    padding-right: 400px;
    font-weight: 450;
}
.latest-projects {
    padding-top: 1px;
}
.your-projects {
    padding-top: 10px;
}