.butt {
    width: 100%;
    height: 36px;
    display: flex;
}

#butt_del{
    text-transform: none;
    border-radius: 0px;
    width: 100%;
    height:36px;
    padding: 5px 10px;
    gap: 10px;
    color: black; ;
    align-items: center;
    justify-content: left;
    font-family: 'SF Compact Rounded';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
#but-del:hover{
    background: rgba(245, 245, 245, 1);
}


