.project-card {
    width: 272px;
    min-height: 180px;
    border-radius: 8px;
    position: relative;

    &__image {
        height: 122.8px;

        &--removed {
            filter: brightness(0.6);
        }
    }

    &__content {
        height: auto;
        font-family: "Varela Round", sans-serif;
        // margin-top: 8px;
        // margin-left: 9px;
    }

    &__name {
        font-size: 15px;
    }

    &__last-entry {
        font-size: 11px;
        margin-top: 3px;
    }

    &__action {
        position: relative;
        z-index: 0;
    }

    &__restore-button {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        left: 50%;
        top: 61.4px;
        transform: translate(-50%, -50%);
    }
}