@import url('https://fonts.googleapis.com/css2?family=SF+Compact+Rounded:wght@400&display=swap');

.text {
    font-family: 'SF Compact Rounded', sans-serif;
    font-size: 30px;
    padding-left: 30px;
    font-weight: 400;
    position: relative;
}
.remote-projects-text {
    padding-top: 22px;
}
.remote-projects{
    padding-left: 30px;
}