$color_1: rgba(0, 0, 0, 0.6);
$font-family_1: SF Pro Rounded;

.search-container {
	display: flex;
	height: 36px;
	gap: 0px;
	padding: 0;
	border-radius: 6px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
	align-items: center;

	&__img {
		width: 13.39px;
		height: 13.36px;
	}
	.search-form_side-bar {
	&__input {
		padding: 11px 10px 9px 0;
		height: 17px;
		border: none;
	  }
	}
}

