.listItemButton {
    width: 197.02px !important;
    height: 31px !important;
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: #0751D80D;
    }
    & .MuiListItemText-primary {
      font-family: 'SF Compact Rounded';
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 33.99px !important;
    }
    padding: 0;
    margin: 0;
}
  
.listItemText {
    padding-left: 13.99px !important;
}
  
.active {
    background-color: #0751D8 !important;
    color: white;
    &:hover {
      background-color: #0751D8 !important;
    }
}
  
.addIcon {
    min-width: 0 !important;
    margin-right: 13.99px !important;
}

.icon {
    width: 6.82px;
    height: 7.15px;
}