@import url('https://fonts.googleapis.com/css2?family=SF+Compact+Rounded:wght@400&display=swap');

.panel-box {
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 185.06px;
    height: auto;
    max-height: 208px;
    overflow-y: auto;
    border-radius: 12px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.panel-box__list-item {
    display: flex;
    height: 39.56px;
    margin-left: 5px;

    &__button {
        height: 100%;
        display: flex;
        align-items: center;

        &--active {
            background-color: #e0e0e0;
        }
    }

    &__image {
        border-radius: 3.3px;
        width: 26px;
        height: 26px;
        margin-right: 5.8px;
        margin-left: 5px;
    }

    &__text {
        min-width: 122px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
