toolbar-paper {
  display: flex !important;
  border: 1px solid #e0e0e0 !important;
  flex-wrap: wrap !important;
  width: 362.36px !important;
  height: 25.88px !important;
  border-radius: 9.71px !important;
}

.toggle-button-group {
  border: 0;
  border-radius: 0;
}

.toggle-button-group .MuiToggleButtonGroup-disabled {
  border: 0;
}

.toggle-button-group .MuiToggleButtonGroup-middleButton,
.toggle-button-group .MuiToggleButtonGroup-lastButton {
  margin-left: -1px;
  border-left: 1px solid transparent;
}

.toggle-button {
  margin: 5.18px 10.35px !important;
  width: 15.53px;
  height: 15.53px;
  min-width: 15.53px;
  min-height: 15.53px;
}

.toggle-button .MuiSvgIcon-root {
  font-size: 11.65px;
}