.todo-container {
    display: flex;
    align-items: center;
  }
  
  .todo-checkbox {
    margin-right: 10px;
  }
  
  .todo-text {
    border: none;
    padding: 5px;
    background: transparent;
    width: 100%;
    resize: none;
    outline: none;
    font-size: 20px;
  }
  
  .todo-text.checked {
    text-decoration: line-through;
    opacity: 0.5;
  }
  