 .main-buttons-container {
    display: flex;
    align-items: center;
  }
  
  .user-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 31px;
    width: 31px;
    min-width: 31px;
  
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    text-transform: none;
  }
  