/* Стили для контейнера кнопок внутри Toolbar */
.buttons-container {
    // Если нужны дополнительные настройки для Toolbar, добавьте их здесь
  }
  
  /* Контейнер, в котором располагаются все кнопки */
  .main-buttons-container {
    display: flex;
    align-items: center;
  }
  
  /* Стили для кнопки пользователя */
  .user-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Фиксированные размеры для получения идеального круга */
    height: 31px;
    width: 31px;
    min-width: 31px; // Переопределяем стандартную минимальную ширину MUI
  
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    text-transform: none;
    // Если понадобится, можно добавить transition или hover-эффекты
  }
  